*{}
body{}
input{
    height: 25px;
    font-size: 30px;
    padding: 3px;
    border-radius: 3px;
}
input[type=text]{
    border: 1px solid black;
}
#calculator{
    width: 250px;
    margin: 0 auto;

}

.calc{
    height: 350px;
    border: 1px solid grey;
    /*margin: 100px auto 0;*/
    margin-top: 50px;
    text-align: center;
    background-color: yellowgreen;
    border-radius: 4px;
}

#calculator form {
    height: 100%;
    padding: 10px;
}

